.p-featured_projects {
  margin: 30px 30px 60px 30px;
}

.p-featured_projects__container {
  display: flex;
}

.p-featured_projects__item {
  width: 33.33%;
}

.p-featured_projects__item:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 1100px) {
  .p-featured_projects__container {
    flex-wrap: wrap;
  }

  .p-featured_projects {
    margin: 30px 15px 30px 15px;
  }

  .p-featured_projects__item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }

  .p-featured_projects__item:nth-child(even) {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .p-featured_projects__container {
    flex-wrap: wrap;
  }

  .p-featured_projects__item:not(:last-child) {
    margin-right: 0;
  }

  .p-featured_projects__item {
    width: 100%;
    margin-bottom: 30px;
  }
}
